* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.shelter,
.food,
.church .clothes .donatenow {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.shelter {
  background-image: url("");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.food {
  background-image: url("");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.church {
  background-image: url("");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.clothes {
  background-image: url("");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.donatenow {
  background-image: url("");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

#about-title {
  text-align: center;
  color: #eb00ff;
  position: relative;
  top: 300px;
}

#about {
  text-align: center;
  color: #fff;
  margin-left: 500px;
  margin-right: 500px;
  font-weight: bold;
  position: relative;
  top: 300px;
}
